#gameContainer
{
    text-align: center;
}
#gameBoard{
    border: 13px solid #333 ; 
}

#scoreText
{    
    font-size: 50px ; 
    font-family:cursive;
}
#resetBtn
{
    font-size: 30px;
    border-radius: 15px;
    cursor: pointer;
    border: solid 4px;
    width: 100px;
    height: 50px;
}